Backend/.vs/
Backend/obj/
Backend/bin/
Backend/RestApi/appsettings.json
Backend/RestApi/obj/
Backend/RestApi/bin/
Backend/Logger/appsettings.json
Backend/Logger/obj/
Backend/Logger/bin/
Backend/Authenticator/appsettings.json
Backend/Authenticator/obj/
Backend/Authenticator/bin/
/Backend/federated-learning-platf-c15c0-firebase-adminsdk-slcw0-6cf0017cb5.json
/Backend/Logger/federated-learning-platf-c15c0-firebase-adminsdk-slcw0-6cf0017cb5.json
/Backend/RestApi/federated-learning-platf-c15c0-firebase-adminsdk-slcw0-6cf0017cb5.json
/Backend/federated-learning-platf-c15c0-firebase-adminsdk-slcw0-90585331c4.json
/Backend/Logger/federated-learning-platf-c15c0-firebase-adminsdk-slcw0-90585331c4.json
/Backend/RestApi/federated-learning-platf-c15c0-firebase-adminsdk-slcw0-90585331c4.json
/Backend/rabbitmq-data
/Backend/rabbitmq-dataB
/Backend/rabbitmq-log
/Kotlin-Clients/.idea/
/Kotlin-Clients/.gradle/
/Kotlin-Clients/build/
/Kotlin-Clients/gradle/